---
---
<section class="flex w-full h-[80px] items-center justify-around" >

    <div class="w-auto h-full flex items-center ">
        <img class="w-[50px] h-[50px] rounded-full" src="../../public/yo.png" alt="Logo">
    </div>
    
    <nav>
        <ul class="flex gap-[10px] bg-[#1c1c1c]-500">
            <li><a href="/">Inicio</a></li>
            <li><a href="/">Acerca de mi</a></li>
            <li><a href="/">Proyectos</a></li>
            <li><a href="/">Servicios</a></li>
        </ul>
    </nav>

</section>

<style>

    img {
        box-shadow: 0 0 10px 4px #fff;
    }

</style>
